<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title class = "ion-text-center">
      Appflow Demo test
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header> -->

  <div id="container">
    <strong>Hello World!</strong>
    <p>Appflow Setup Demo</p>
    <p> Test again</p>
    <!-- <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p> -->
  </div>
</ion-content>
